Loading data into pandas data frame.

In [2]:
import pandas as pd
df=pd.read_csv("Pokemon.csv")
print(df.head(3))
#for reading in tab separated file use pd.read_csv("pokemon.txt",delimeter="\t")

   #       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1  Bulbasaur  Grass  Poison    318  45      49       49       65       65
1  2    Ivysaur  Grass  Poison    405  60      62       63       80       80
2  3   Venusaur  Grass  Poison    525  80      82       83      100      100

   Speed  Generation  Legendary
0     45           1      False
1     60           1      False
2     80           1      False

READING DATA IN PANDAS

In [ ]:
##Read the Headers
df.columns

##read each columns
print(df[["Name","Type 1"]])

##Read Each Row
print(df.iloc[0:4])

##Read a specific element in a location(R,C)
print(df.iloc[2,1])

##To iterate throw the rows in a dataset
for index ,row  in df.iterrows():
    print(index,row["Name"])

## used to specify the elements with specific characteristics
df.loc[df["Type 1"]=="Fire"]

Sorting/Describing Data

In [ ]:
#checking high level summary statistics for the dataset
#df.describe()

#to sort the values
df.sort_values(["Type 1","HP"],ascending=[1,0])

Making Changes to the data

In [ ]:
##Adding a totals column in the dataset
#df['Total' ] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Def'] + df['Sp. Atk'] + df['Speed']
#print(df)
##Alternatively to sum all the rows in the dataset 
#df['Totals']= df.sum(axis=1)
#print(df)

#droping columns in the dataset
#df = df.drop(columns=['Totals'])
#print(df)

#adding the column totals 
#df['Total'] = df.iloc[:,4:10].sum(axis=1)
#print(df.head(5))

#Reordering the columns in the dataset 

cols=list(df.columns.values)
df=df[cols[0:4] +[cols[-1]] + cols[4:12]]
print(df)

Saving the desired CSV file/data

In [6]:
#df.to_csv("modified.csv", index=False)
##To change to excel format

#df.to_excel("Modified.xlsx",index=False)

## to change to txt format
df.to_csv("modified.txt",index=False,sep="\t")

Filtering Out the Data

In [ ]:
#df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison')]

##To use or in the pandas data frame we use | (Piping symbol)
#df.loc[(df['Type 1']=='Grass') | (df['Type 2']=='Poison')]

# new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df["HP"]> 70)] # Remember that it is important to separate the condition using parenthesis


#use .isin() function to select multiple elements using the or condition
#top_oceania_wines = reviews.loc[(reviews["points"]>=95) & (reviews["country"].isin(["Australia","New Zealand"]))]

# #replacing the original index of the dataframe 
# new_df.reset_index(drop=True, inplace=True) # Remove the original index of the dataframe

# new_df

#When you want to filter out specific strings in the data
df.loc[df['Name'].str.contains('Mega')]

# #To reverse select the elements use the ~ to represent not the specified elements
# df.loc[~df['Name'].str.contains('Mega')]

#using the regular expresssions in pandas 

import re
#This is used to filter out specific strings using regular expression
#df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I,regex= True)]

#to filter out words starting with specific characters we use 
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]

Making conditional Changes to the dataframe

In [8]:
# #Changing the name Fire to Flamer in the dataframme
# df.loc[df['Type 1']=='Fire','Type 1'] ='Flamer'

# #changin it back to fire from flamer
# df.loc[df['Type 1']=='Flamer','Type 1'] ='Fire'

#df.loc[df['Type 1']=='Fire','Legendary'] ="True"

#to modify many conditions at a time we use

#df.loc[df['Total']>500,['Legendary','Generation'] =['Test1','Test2']

Aggregated Statistics using the groupby method

In [25]:
df= pd.read_csv('modified.csv')
df

# df.groupby(['Type 1']).mean().sort_values(by="HP",ascending=False)

# df.groupby(["Type 1"]).sum()

df['count'] =1  
df.groupby(["Type 1", "Type 2"]).count()['count']


#to get the unique characteristics of each element you can use unique fucntion instead of using the groupby function

df['Type 1'].unique()


#We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard
# to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, 
# a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.
#reviews is a dataframe from Kaggle not imported here
# def star(row):
#     if row.country =='Canada':
#         return 3
#     elif row.points >= 95:
#         return 3
#     elif row.points >= 85:
#         return 2
#     else :
#         return 1

# star_ratings = reviews.apply(star,axis='columns')

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

Using the  map function to map out arithmetic fucntions using pandas

In [29]:
#QSN
#here are only so many words you can use when describing a bottle of wine. Is a wine more likely
# to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each 
# of these two words appears in the description column in the dataset

# n_trop= reviews.description.map(lambda desc: "tropical" in desc).sum()
# n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()

# descriptor_counts =pd.Series([n_trop,n_fruity],index =['tropical','fruity'])

#'m an economical wine buyer. Which wine is the "best bargain"? 
# Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.


bargain_idx = (df.HP/df.Defense).idxmax()
bargain_wine = df.loc[bargain_idx , "Type 1"]

bargain_wine

'Normal'

Working with Large amount of Data

In [22]:
#use when the data has a lot of memory and we are required to only import chunksizes of rows from the data
# for df in pd.read_csv("modified.csv", chunksize=20):
#     print("CHUNK DF")
#     print(df)
    
    
new_df =pd.DataFrame(columns=df.columns)

for df in pd.read_csv("modified.csv", chunksize=20):
    results = df.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])
    
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Bug,7,7,NaN,5,7,7,7,7,7,7,7,7,7
Fire,5,5,NaN,3,5,5,5,5,5,5,5,5,5
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Water,4,4,NaN,0,4,4,4,4,4,4,4,4,4
Electric,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Ghost,8,8,NaN,8,8,8,8,8,8,8,8,8,8
Ice,2,2,NaN,0,2,2,2,2,2,2,2,2,2
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2